body{
    margin-top: 20px;
    height: 580px;
    width: 1200px;  
    background-color: #ff9c33;
}
#divCont{
    border: 1px solid black;
    border-radius: 5%;
    background-repeat: no-repeat;
    width: 700px;
    height: 580px;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 350px);
    text-align: center;
    font-size: 25px;
    border-color: #ff9c33;
    color: #ff9c33;
    background-color: white;
    opacity: 0.9;
}
#titulo{
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    top: 2%;
    font-family: cursive;
    color: #ff9c33;
    font-size: 30px;
}
#eje{
    position: absolute;
    width: 600px;
    left: calc(50% - 300px);
    top: 85px;
    font-family: cursive;
    color: black;
    font-size: 25px;
}
#ingr{
    position: absolute;
    width: 450px;
    left: calc(50% - (450px / 2));
    top: 35%;
    font-family: cursive;
    color: black;
    font-size: 25px;
}
#divCon{
    border: 1px solid black;
    background-repeat: no-repeat;
    width: 300px;
    height: 120px;
    background-repeat: no-repeat;
    position: absolute;
    top: 54%;
    left: calc(50% - 150px);
    text-align: center;
    font-size: 25px;
    border-color: #ff9c33;
    border-radius: 5%;
    color: #ff9c33;
    background-color: white;
    opacity: 0.9;
}
#cadena{
    width: 250px;
    position: absolute;
    top: 10%;
    left: calc( 50% - (250px / 2));
}
#btnA{
    position: absolute;
    top: 80%;
    left: 40%;
}
#btnA:hover{
    cursor: pointer;
    background-color: orange;
}
#res{
    position: absolute;
    top: 50%;
    left: 6%;
    font-size: 20px;
    color: black;
}
#divPaPrin{
    position: absolute;
    top: 80%;
    left:40%;
}   

.btnPr:hover{
    cursor: pointer;
    background-color: orange;
}