body{
    margin-top: 20px;
    height: 580px;
    width: 1200px;  
    background-color: #ff9c33;
}
#divCont{
    border: 1px solid black;
    border-radius: 5%;
    background-repeat: no-repeat;
    width: 800px;
    height: 680px;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 400px);
    text-align: center;
    font-size: 25px;
    border-color: #ff9c33;
    color: #ff9c33;
    background-color: white;
    opacity: 0.9;
}
#titulo{
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    top: 2%;
    font-family: cursive;
    color: #ff9c33;
    font-size: 30px;
}
#eje{
    position: absolute;
    width: 700px;
    left: calc(50% - 350px);
    top: 85px;
    font-family: cursive;
    color: black;
    font-size: 15px;
}
#ca{
    position: absolute;
    width: 700px;
    top:25%;
    left:calc( 50% - 350px);
}
#divCon{
    border: 1px solid black;
    background-repeat: no-repeat;
    width: 600px;
    height: 280px;
    background-repeat: no-repeat;
    position: absolute;
    top: 40%;
    left: calc(50% - 300px);
    text-align: center;
    font-size: 25px;
    border-color: #ff9c33;
    border-radius: 5%;
    color: #ff9c33;
    background-color: white;
    opacity: 0.9;
}
#nomb{
    padding: 0;
    margin-top: 0;
    position: absolute;
    width: 300px;
    left: calc(25% - 150px);
    top: 2%;
    font-family: cursive;
    font-size: 25px;
}
#nombre{
    padding: 0;
    margin-top: 0;
    position: absolute;
    width: 200px;
    left: calc(25% - 100px);
    top: 14%;
    font-family: cursive;
    font-size: 15px;

}
#asig{
    padding: 0;
    margin-top: 0;
    position: absolute;
    width: 100px;
    left: calc(70% - 50px);
    top: 2%;
    font-family: cursive;
    font-size: 25px;
}
#materia{
    padding: 0;
    margin-top: 0;
    position: absolute;
    width: 200px;
    left: calc(72% - 100px);
    top: 14%;
    font-family: cursive;
    font-size: 15px;
}
#not1{
    position: absolute;
    width: 100px;
    left: calc(20% - 50px);
    top: 30%;
    font-family: cursive;
    font-size: 25px;
} 
#nota1{
    position: absolute;
    width: 100px;
    left: calc(19% - 50px);
    top: 50%;
    font-family: cursive;
    font-size: 15px;
}
#not2{
    position: absolute;
    width: 100px;
    left: calc(50% - 50px);
    top: 30%;
    font-family: cursive;
    font-size: 25px;
}
#nota2{
    position: absolute;
    width: 100px;
    left: calc(50% - 50px);
    top: 50%;
    font-family: cursive;
    font-size: 15px;
}
#not3{
    position: absolute;
    width: 100px;
    left: calc(80% - 50px);
    top: 30%;
    font-family: cursive;
    font-size: 25px;
}
#nota3{
    position: absolute;
    width: 100px;
    left: calc(80% - 50px);
    top: 50%;
    font-family: cursive;
    font-size: 15px;
}
#btnA{
    position: absolute;
    top: 80%;
    left: 40%;
}
#btnA:hover{
    cursor: pointer;
    background-color: orange;
}
#resultado{
    position: absolute;
    width: 300px;
    top: 50%;
    left: calc(50% - 150px);
    font-size: 30px;
    color: black;
}
#divPaPrin{
    position: absolute;
    top: 90%;
    left:40%;
}  
#btnCalcular{
    position: absolute;
    width: 100px;
    top: 80%;
    left: calc( 50% - 50px );
    font-family: cursive;
    font-size: 18px;
}
#btnCalcular:hover{
    cursor: pointer;
    background-color: orange;
}
#res{
    position: absolute;
    width: 480px;
    top: 60%;
    left: calc(50% - 240px);
    font-size: 23px;
    color: black;
}