body{
    padding: 0%;
    height: 1000px;
    width: 1000px;
}
#titulo{
    position: absolute;
    left: 40%;
    top: 2%;
    font-family: cursive;
    color: darkblue;
    font-size: 30px;
}
#eje{
    position: absolute;
    left: 20%;
    top: 85px;
    font-family: cursive;
    color: black;
    font-size: 15px;
}
#ingr{
    position: absolute;
    left: 31%;
    top: 100px;
    font-family: cursive;
    color: black;
    font-size: 20px;
}
#divCon{
    position: absolute;
    top: 150px;
    left: 32%;
    border: solid navy;
    width: 300px;
    height: 150px;
    background-color:sandybrown;
}
#cadena{
    position: absolute;
    top: 10%;
    left: 20%;
}
#btnA{
    position: absolute;
    top: 80%;
    left: 40%;
}
#btnA:hover{
    cursor: pointer;
    background-color: orange;
}
#res{
    position: absolute;
    top: 50%;
    left: 15%;
}
#divPaPrin{
    position: absolute;
    top: 55%;
    left:40%;
}   
