body{
    height: 580px;
    width: 1200px;  
    background-color: #ff9c33;
}
#divCont{
    border: 1px solid black;
    border-radius: 5%;
    background-repeat: no-repeat;
    width: 700px;
    height: 580px;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 350px);
    text-align: center;
    font-size: 25px;
    border-color: #ff9c33;
    color: #ff9c33;
    background-color: white;
    opacity: 0.9;
}
#titulo{
    width: 600px;
    position: absolute;
    left: calc(50% - 300px);
    text-align: center;
    font-size: 35px;
    color: #ff9c33;
}
#nombre{
    width: 300px;
    position: absolute;
    top: 20%;
    left: calc(30% - 150px);
    color: #ff9c33;
    font-size: 20px;
    font-family: cursive;
}
#nombreEs{
    width: 400px;
    position: absolute;
    top: 19%;
    left: calc(68% - 200px);
    color: black;
    font-size: 20px;
    font-family: cursive;
}
#codigo{
    width: 200px;
    position: absolute;
    left: calc( 30% - 100px);
    top: 30%;
    color: black;
    font-size: 20px;
    font-family: cursive;
}
#codigoEs{
    position: absolute;
    width: 200px;
    top: 29%;
    left: calc( 70% - 100px);
    color: #ff9c33;
    font-size: 20px;
    font-family: cursive;
}
#lista{
    width: 300px;  
    color: #ff9c33;
    font-style: oblique;
    left: calc( 50% - 150px ) ;
    top: 45%;
    position: absolute;
    font-size: 41px;
}
#tabla{
    width: 300px;
    top: 56%;
    position: absolute;
    left: calc( 50% - 150px ) ;
    font-size: 20px;
    font-family: cursive;
}
#tableHead{
    background-color: #ff9c33;
    color: blue;
}
#tableHead:hover{
    background-color: blue;
    color: cyan;
}
.btnClick{
    border: none;
    font-size: 20px;
}
.btnClick:hover{
    cursor: pointer;
    color:blue;
}