#titulo{
    font-size: 30px;
    color: blue;
    font-style: oblique;
    left: 30%;
    top: 30px;
    position: absolute;
    box-shadow: 0px -6px currentColor;
}
#nombre{
    position: absolute;
    top: 20%;
    left: 30%;
    color: darkblue;
    font-size: 20px;
    font-family: cursive;
}
#nombreEs{
    position: absolute;
    top: 19%;
    left: 53%;
    color: black;
    font-size: 20px;
    font-family: cursive;
}
#codigo{
    position: absolute;
    top: 30%;
    left: 35%;
    color: black;
    font-size: 20px;
    font-family: cursive;
}
#codigoEs{
    position: absolute;
    top: 30%;
    left: 60%;
    color: darkblue;
    font-size: 20px;
    font-family: cursive;
}
#lista{
    color: blue;
    font-style: oblique;
    left:  40%;
    top: 300px;
    position: absolute;
    font-size: 41px;
}
#tabla{
    top: 370px;
    position: absolute;
    left: 43%;
    font-size: 20px;
    font-family: cursive;
}
#tableHead{
    background-color: cyan;
    color: blue;
}
#tableHead:hover{
    background-color: blue;
    color: cyan;
}
.btnClick{
    border: none;
    font-size: 20px;
}
.btnClick:hover{
    cursor: pointer;
    color:blue;
}